$default-padding: 5px !default;
$default-border-radius: 5px !default;
$default-font-size: 16px !default;
$default-margin-bottom: 10px !default;

.sing-up {
  display: flex;
  flex-direction: column;
  font-size: $default-font-size;

  &__form {
    display: flex;
    flex-direction: column;
    margin-bottom: $default-margin-bottom;

    lanbel {
      margin-right: $default-padding;
    }

    input {
      width: 100%;
      padding: $default-padding;
      border: 1px solid gray;
      border-radius: $default-border-radius;
      margin-bottom: $default-margin-bottom;

    }

    button {
      border-radius: $default-border-radius;
      padding: $default-padding;
      align-self: center;
      &:disabled {
        color: lightgray;
      }
    }
  }

  &__input {
    &-hint {
      font-size: 14px;
      color: gray;
      margin-bottom: $default-margin-bottom;
    }
  }

  &__errors {
    color: red;
    margin-bottom: $default-margin-bottom;
    font-size: 14px;
  }

  &__status {
    padding: 10px;
    border-radius: $default-border-radius;
    line-break: auto;

    &--success {
      background-color: lightgreen;
    }
    &--error {
      background-color: lightcoral;
    }
    &--processing {
      background-color: lightgray;
    }
  }
}
