<div class="sing-up">
  <form
    class="sing-up__form"
    [formGroup]="singUpForm"
    (ngSubmit)="singUp()"
  >
    <label i18n="First Name|Sing up form input: First name@@auth-ang.sing-up-input.first-name">
      First Name
      <input
        data-role="sing-up.input.firstName"
        type="text"
        required="true"
        formControlName="firstName"
      >
    </label>
    <div class="sing-up__errors"
      *ngIf="singUpForm.controls['firstName'].invalid && (singUpForm.controls['firstName'].dirty || singUpForm.controls['firstName'].touched)"
      i18n="First name is required| Sing up form error: first name@@auth-ang.sing-up-input.first-name.error"
    >
      <div>First name is required</div>
    </div>

    <label i18n="Last Name|Sing up form input: Last name@@auth-ang.sing-up-input.last-name">
      Last Name
      <input
        data-role="sing-up.input.lastName"
        type="text"
        required="true"
        formControlName="lastName"
      >
    </label>
    <div class="sing-up__errors"
      *ngIf="singUpForm.controls['lastName'].invalid && (singUpForm.controls['lastName'].dirty|| singUpForm.controls['lastName'].touched)"
      i18n="Last name is required| Sing up form error: last name@@auth-ang.sing-up-input.last-name.error"
    >
      <div>Last name is required</div>
    </div>

    <label i18n="Email|Sing up form input: Email@@auth-ang.sing-up-input.email">
      Email
      <input
        type="text"
        data-role="sing-up.input.email"
        required="true"
        formControlName="email"
      >
    </label>
    <div class="sing-up__errors"
      *ngIf="singUpForm.controls['email'].invalid && (singUpForm.controls['email'].dirty|| singUpForm.controls['email'].touched)"
    >
      <div
        *ngIf="singUpForm.controls['email'].errors?.required"
        i18n="Email is required| Sing up form error: email@@auth-ang.sing-up-input.email.error.required"
      >
        Email is required
      </div>
      <div
        *ngIf="singUpForm.controls['email'].errors?.email"
        i18n="Email is invalid| Sing up form error: email@@auth-ang.sing-up-input.email.error.invalid"
      >
        Email is invalid.
      </div>
    </div>

    <label i18n="Password|Sing up form input: Password@@auth-ang.sing-up-input.password">
      Password
      <input
        type="text"
        data-role="sing-up.input.password"
        required="true"
        formControlName="password"
      >
    </label>
    <div class="sing-up__errors"
      *ngIf="singUpForm.controls['password'].invalid && (singUpForm.controls['password'].dirty|| singUpForm.controls['password'].touched)"
    >
      <div
        *ngIf="singUpForm.controls['password'].errors?.required"
        i18n="Password is required| Sing up form error: Password@@auth-ang.sing-up-input.password.error.required"
      >
        Password is required
      </div>
      <div
        *ngIf="singUpForm.controls['password'].errors?.minlength"
        i18n="Password mast contain at least 8 characters| Sing up form error: Password@@auth-ang.sing-up-input.password.error.min-lenght"
      >
        Password mast contain at least 8 characters
      </div>
      <div
        *ngIf="singUpForm.errors?.passwordHasNames"
        i18n="Password should not contain first name or last name.| Sing up form error: Password@@auth-ang.sing-up-input.password.error.has-names"
      >
        Password should not contain first name or last name.
      </div>
      <div
        *ngIf="singUpForm.controls['password'].errors?.passwordCharacters"
        i18n="Password mast contain at least 1 lower and 1 upper case letters| Sing up form error: Password@@auth-ang.sing-up-input.password.error.characters"
      >
        Password mast contain at least 1 lower and 1 upper case letters
      </div>
    </div>
    <label i18n="Confirm password|Sing up form input: Confirm password@@auth-ang.sing-up-input.password-confirm">
      Confirm password
      <input
        type="text"
        data-role="sing-up.input.passwordConfirm"
        required="true"
        formControlName="passwordConfirm"
      >
    </label>
    <div class="sing-up__errors"
      *ngIf="singUpForm.invalid && (singUpForm.controls['passwordConfirm'].dirty|| singUpForm.controls['passwordConfirm'].touched)"
    >
      <div
        *ngIf="singUpForm.controls['passwordConfirm'].errors?.required"
        i18n="Password confirmation is required| Sing up form error: Password confirm@@auth-ang.sing-up-input.password-confirm.error.required"
      >
        Password confirmation is required
      </div>
      <div
        *ngIf="singUpForm.errors?.passwordIsDifferent"
        i18n="Passwords are different| Sing up form error: Password confirm@@auth-ang.sing-up-input.password-confirm.error.different"
      >
        Passwords are different
      </div>
    </div>
    <button
      type="submit"
      [disabled]="singUpForm.invalid || (singUpStatus$ | async) === singUpStatus.PROCESSING"
      i18n="Sing Up|Sing up button@@auth-ang.sing-up-button">Sing up
    </button>
  </form>

  <ng-container [ngSwitch]="singUpStatus$ | async">
    <ng-container *ngSwitchCase="singUpStatus.SUCCESS">
      <div
        class="sing-up__status sing-up__status--success"
        i18n="Account was created successfully| Sing up status: success@auth-ang.sing-up-status.success">
        Account was created successfully
      </div>
    </ng-container>
    <ng-container *ngSwitchCase="singUpStatus.ERROR">
      <div
        class="sing-up__status sing-up__status--error"
        i18n="Something went wrong| Sing up status: success@auth-ang.sing-up-status.error">
        Something went wrong
      </div>
    </ng-container>
    <ng-container *ngSwitchCase="singUpStatus.PROCESSING">
      <div
        class="sing-up__status sing-up__status--processing"
        i18n="Processing...| Sing up status: processing@auth-ang.sing-up-status.processing">
        Processing...
      </div>
    </ng-container>
  </ng-container>

</div>
